.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.env
**/.env
.env.*
**/.env.*
*.npy
*.csv
*.xlsx
*.xls
*.log
*.sqlite3
*.db
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
coverage/
.DS_Store
Thumbs.db
